[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pynput = "*"
tapsdk = {editable = true, git = "https://github.com/TapWithUs/tap-python-sdk"}
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.11"
